.navbar{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 8em;
}

#main-logo{
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;  
    float: left;
}